.verde1{
    height: 100px;
    width: 100%;
    background-color: green;
    display: inline-block;

}


.azul{
    height: 200px;
    width: 49.8%;
    background-color: blue;
    display: inline-block;
}

.amarelo{
    height: 200px;
    width: 49.8%;
    background-color: yellow;
    display: inline-block;
}

.verde2{
    height: 100px;
    width: 100%;
    background-color: green;
    display: inline-block;
}





body{
    background-color: lightblue;
}
