body {
    background-color: yellow;
}

h1 {
    text-align: center;
}
ul {
    background-color: white;
}
.verde {
    font-size: 36px;
    color: green;
    background-color: gray;
}


.vermelho {
    font-size: 36px;
    color: red;
    background-color: gray;
    text-align: center;

}

.azul{
    font-size: 36px;
    color: blue;
    background-color: gray;
    text-align: end;

}

.roxo {
    font-size: 36px;
    color: purple;
    background-color: gray;
    text-align: center;

}

.amarelo {
    font-size: 36px;
    color: yellow;
    background-color: gray;

}

.rosa {
    font-size: 36px;+
    color: hotpink;
    background-color: gray;
    text-align: center;

}


ul {
    background-color: white;
}
